.greetingForm {
  color: rgba(0, 0, 0, 0.50);
font-family: Montserrat;
font-size: 14px;
}

.inputAndButtonContainer {
  display: flex;
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
