.button {
}

.disabled {
  color: white;
  background-color: gray;
}

.secondary {
  color: white;
  background-color: blue;
}

.default {
}

.red {
  color: white;
  background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
