.button {
  border-radius: 3px;
  padding: 5px 24px;
}

.disabled {
  opacity: 0.5;
  background-color: #004D99;
}

.secondary {
  border: 1px solid #06C;
  color: #06C
}

.default {
  color: white;
  background-color: #06C;
}

.red {
  color: white;
  background-color: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
